<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6498b1e9-6365-4b1d-a001-e3699a3d51b0" wadlVersion="http://wadl.dev.java.net/2009/02" name="EREG-EcommerceService" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="6498b1e9-6365-4b1d-a001-e3699a3d51b0fileName">EREG-EcommerceService</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://v2-ecommerceext-dev.ereg.ets.org</con:endpoint></con:endpoints></con:interface>