<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9c8bcbcc-c8d4-41aa-a89d-712c172c792e" name="STAT_Extract_Service" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9c8bcbcc-c8d4-41aa-a89d-712c172c792efileName">STAT_Extract_Service</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="1616f813-7e88-44f3-9295-00c26c282621"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8d9a0c7e-6293-4ea0-ae89-48b18a6caf96"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="2c3ec9ec-bb1f-45d5-a8cc-50b0b05d3240"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>